<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All People</title>
</head>
<body>

<!-- Цикл для отображения списка людей -->
<div th:each="eachPerson : ${keyAllPeoples}">
  <!-- Ссылка с именем и годом рождения человека -->
  <a th:href="@{/people/{id}(id=${eachPerson.id})}">
    <span th:text="${eachPerson.name}"></span>
    <span th:text="'(' + ${eachPerson.birthYear} + ')'"></span>
  </a>
</div>

<!-- Ссылка для добавления нового человека -->
<a th:href="@{/people/create}">Add Person</a>



</body>
</html>